// Colors
$c-purple: #7300a9;
$c-purple-a: #7300a950;
$c-navs: #29aecb;
$c-posts: #83ddf0;
$e: #eee;
// Gradients
$c-grad1: radial-gradient(
    90.43% 114.72% at 8.34% 45.37%,
    #26cff2 0%,
    #189fbd 100%
);
$c-grad2: radial-gradient(
    90.43% 114.72% at 8.34% 45.37%,
    #83ddf0 0%,
    #26d8ff 100%
);
$c-grad3: radial-gradient(
    90.43% 114.72% at 8.34% 45.37%,
    #48d9f7 0%,
    #39b6d1 100%
);

$trans-time: 300ms;
